  @media only screen and (max-width: 768px) {
      .mobile-table {
          width: 100%;
          overflow-x: auto;
      }

      .mat-table {
          width: 100%;
          table-layout: fixed;
      }

      .mat-cell,
      .mat-header-cell,
      .mat-footer-cell {
          padding: 8px;
          word-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
      }

  }


  .mobile-hide {
      display: none;
  }

  .mobile-quantity {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 0;
  }

  .mobile-overflow {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
  }

  .mobile-button{
    width: 20px;
    height: 20px;
  }